.contenido {
  display: grid;
  align-items: flex-start;
  gap: 5rem;
}

@media (min-width: 768px) {
  .contenido {
    grid-template-columns: 3fr 2fr;
  }
}

.carrito {
  padding: 3rem 0;
}

.resumen {
  background-color: rgb(218, 202, 202);
  padding: 3rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
